
// Colors
$white-1: #FCF7FF;

$black-1: #1B1B1E;

$blue-1: #9BB1FF;
$blue-2: #788BFF;
$blue-3: #5465FF;


//Devices Sizes

$mobile-width: 480px;
$tablet-width: 992px;
$desktop-width: 1280px;
$max-width: 1800px;
