
// Colors
$white-1: #ffffff;
$white-2: #fafafa;
$white-3: #f6f6f6;
$white-4: #eee;

$black-1: #1B1B1E;

$grey-1: #b2b2b3;
$grey-2: #878C8F;
$grey-3: #7a7c7e;

$grey-2-light: #878c8f77;

$blue-1: #2196F3;
$blue-2: #2979FF;
$blue-3: #0D47A1;
$blue-1-lighten: lighten($color: ($blue-1), $amount: 20);
$blue-3-lighten: lighten($color: ($blue-2), $amount: 20);

$orange-1: #f27059;

$red-1: #f44242;
$red-2: #fb2626;
$red-3: #ff0909;


//Devices Sizes

$mobile-width: 580px;
$tablet-width: 992px;
$desktop-width: 1280px;
$max-width: 1800px;
$max-height: 800px;


// Radius
$RoundRadius : 7px;
$RoundRadiusPlus : 15px;


// Font Family

  $family1: Arial, Helvetica, sans-serif;
  $family2: 'Times New Roman', Times, serif;
  $family3: Times, serif;


// Transition
$transition-quick: all .3s ease-in-out;
$transition-fast: all .5s ease-in-out;
$transition-normal: all .7s ease-in-out;
$transition-slow: all 1s ease-in-out;
$transition-long: all 1.5s ease-in-out;

