.icon-size {
  &-xsmall {
    width: 10px;
    height: 10px;
  }
  &-small {
    width: 18px;
    height: 18px;
  }
  &-medium {
    width: 24px;
    height: 24px;
  }
  &-large {
    width: 32px;
    height: 32px;
  }
  &-xlarge {
    width: 50px;
    height: 50px;
  }
  &-xxlarge {
    width: 100px;
    height: 100px;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
