@import "../../../Core/styles/variables.scss";
@import "../../../Core/styles/functions.scss";

.pg-button {
  width: 100%;
  letter-spacing: 0.5px;
  padding: 10px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  transition: $transition-quick;
  border: 1px solid transparent;
  position: relative;
  font-weight: 500;
  @include for-screen("font-size", 12px, 2px);

  &-container {
    height: 100%;
    width: 100%;
  }
}

.icon {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  overflow: hidden;

  &:last-child {
    text-align: center;
  }

  ::ng-deep & .background {
    transition: $transition-quick;
    position: absolute;
    height: 100%;
    width: 50px;
    z-index: 0;
    background: white;
    border-radius: 0 5px 5px 0;
  }

  ::ng-deep & span {
    z-index: 1;
    transition: $transition-quick;
  }

  ::ng-deep & pg-icon {
    z-index: 1;
  }

  ::ng-deep & .svg {
    padding: 10px;
    display: block;
    margin-right: 15px;
    border-radius: 0 7px 7px 0;
  }

  &:hover {
    & ::ng-deep span{
      color: $black-1;
    }

    & ::ng-deep .background {
      width: 100%;
    }
  }
}

.circle {
  border-radius: 50%;
  width: unset;
  height: unset;
}

.lightMode :host {
  .shadow {
    box-shadow: 2px 2px 5px black;
    &:hover {
      box-shadow: 3px 3px 15px black;
    }
  }

  .secondary {
    background-color: $blue-1-lighten;
    color: $black-1;
    border-color: $blue-2;

    &:hover {
      background-color: $blue-3-lighten;
      color: $black-1;
    }
  }

  .light {
    background-color: $white-1;
    color: $black-1;
    border-color: $grey-1;

    &:hover {
      background-color: $white-3;
      color: $black-1;
    }
  }

  .primary {
    color: $white-1;
    border-color: $blue-3;
    background: $blue-1;
    background: radial-gradient(circle, $blue-1 0%, $blue-2 50%, $blue-3 100%);

    &:hover {
      border-color: $white-3;
    }
  }

  .pale {
    background-color: $grey-2;
    color: $white-1;
    border-color: $grey-2;

    &:hover {
      background-color: $grey-3;
      border-color: $grey-3;
    }
  }

  .icon {
    background-color: $blue-1;
    color: $white-1;
    border: 2pt solid $blue-2;

    & ::ng-deep .background {
      background-color: $white-1;
    }

    &:hover {
      background-color: $blue-2;
      border-color: $blue-2;
    }
  }

  .disabled {
    background: unset;
    background-color: $grey-1;
    border-color: $grey-3;
    color: $black-1;

    &:hover {
      background: unset;
      background-color: $grey-1;
      border-color: $grey-3;
      color: $black-1;
      cursor: default;

      &.shadow {
        box-shadow: 2px 2px 5px black;
      }
    }
  }
}
