@import "../../../Core/styles/variables.scss";
@import "../../../Core/styles/functions.scss";

.pg-button {
  width: 100%;
  letter-spacing: 0.5px;
  padding: 10px;
  font-family: $family3;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  transition: $transition-quick;
  border: 1px solid transparent;
  @include for-screen("font-size", 12px, 2px);

  &-container {
    height: 100%;
    width: 100%;
  }
}

.google,
.facebook {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  overflow: hidden;

  &:last-child {
    text-align: center;
  }

  ::ng-deep & .svg {
    height: 50px;
    width: 50px;
    padding: 10px;
    display: block;
    margin-right: 15px;
  }
}

.circle {
  border-radius: 50%;
  width: unset;
  height: unset;
}

.lightMode {
  .shadow {
    box-shadow: 2px 2px 5px black;
    &:hover {
      box-shadow: 3px 3px 15px black;
    }
  }

  .secondary {
    background-color: $white-1;
    color: $black-1;
    border-color: $grey-1;

    &:hover {
      background-color: $white-3;
      color: $black-1;
    }
  }

  .secondary-reverse {
    background-color: $grey-1;
    color: $black-1;
    border-color: $grey-3;

    &:hover {
      background-color: $grey-3;
      color: $white-1;
    }
  }

  .primary {
    color: $white-1;
    border-color: $blue-3;
    background: $blue-1;
    background: radial-gradient(circle, $blue-1 0%, $blue-2 50%, $blue-3 100%);

    &:hover {
      border-color: $white-3;
    }
  }

  .pale {
    background-color: $grey-2;
    color: $white-1;
    border-color: $grey-2;

    &:hover {
      background-color: $grey-3;
      border-color: $grey-3;
    }
  }

  .google,
  .facebook {
    background-color: $blue-1;
    color: $white-1;
    border: 2pt solid $blue-2;

    ::ng-deep .lightMode & .svg {
      background-color: $white-1;
    }

    &:hover {
      background-color: $blue-2;
      border-color: $blue-2;
    }
  }

  .disabled {
    background: unset;
    background-color: $grey-1;
    border-color: $grey-3;
    color: $black-1;

    &:hover {
      background: unset;
      background-color: $grey-1;
      border-color: $grey-3;
      color: $black-1;
      cursor: default;

      &.shadow {
        box-shadow: 2px 2px 5px black;
      }
    }
  }
}
