<div class="pg-button-container">
  <button
    [type]="type"
    [name]="name"
    [disabled]="disabled"
    class="pg-button"
    [class]="style"
    [class.shadow]="shadow"
    [class.disabled]="disabled"
    [class.circle]="circle"
    (focus)="focus.emit($event)"
    (focusout)="focus.emit($event)"
    (mousedown)="startHold()"
    (mouseup)="clearHold()"
    (mouseleave)="clearHold()"
  >
    <div
      *ngIf="holdable"
      class="pg-button-hold-overlay"
      [style]="holdPercentage"
    ></div>
    <div class="pg-button-content">
      {{ label }}
      <ng-content></ng-content>
    </div>
  </button>
</div>
