@import "../../../Core/styles/functions.scss";

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-icon {
    transition: $transition-fast;

    &.close {
      transform: rotate(180deg);
    }
  }

  &-label {
    display: flex;
    align-items: center;
  }

  &-content {
    transition: $transition-normal;
    overflow: hidden;

    &.close {
      transition: $transition-fast;
    }
  }

}
