@import "../../../Core/styles/variables.scss";
@import "../../../Core/styles/functions.scss";

.sidebar {
  height: 100%;
  width: 70px;
  position: relative;

  &-container {
    position: absolute;
    transition: $transition-fast;
    width: 100%;
    height: 100%;
    z-index: 50;

    .lightMode & {
      background-color:$white-1;
      background: linear-gradient(90deg, $white-1 0%, $white-3 100%);
    }

    @include tablet-less() {
      .show & {
        width: 280px;
        max-width: 280px;
      }
    }
  }

  @include tablet-plus(){
    width: 250px;
    max-width: 250px;
  }

  @include desktop-only(){
    width: 280px;
    max-width: 280px;
  }
}
