<div
  class="directory-card"
  [class.active]="active"
  (click)="action.emit(actionEvent.SELECTED)"
>
  <div class="directory-card-icon">
    <pg-icon [svg]="model.icon" [size]="largeIcon"></pg-icon>
  </div>
  <div class="directory-card-details">
    <div
      class="directory-card-info"
      [matTooltip]="
        (model.label | localize).length > 20 ? model.label : ('' | localize)
      "
      matTooltipPosition="above"
    >
      <p class="directory-card-label">
        {{ model.label | localize | textLimit: 22 }}
      </p>
    </div>
    <div class="directory-card-buttons">
      <div class="directory-card-buttons-view">
        <pg-icon icon="bubble_chart"></pg-icon>
        <ng-container
          *ngTemplateOutlet="summaryHover; context: { item: model }"
        ></ng-container>
      </div>
      <div class="directory-card-buttons-edit"
      (click)="action.emit(actionEvent.EDIT)"
      >
        <pg-icon icon="edit"></pg-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #summaryHover let-item="item" >
  <div class="directory-card-summary-container">
    <div class="directory-card-summary">
      <div class="directory-card-summary-details">
        <div class="directory-card-summary-income">
          <div class="directory-card-summary-label">{{'directory.totalIncome' | localize }}</div>
          <div class="directory-card-summary-amount">{{item.totalIncome | toPrice}}</div>
        </div>
        <div class="directory-card-summary-expense">
          <div class="directory-card-summary-label">{{'directory.totalExpense' | localize }}</div>
          <div class="directory-card-summary-amount">{{item.totalExpense | toPrice}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
