<div
  class="directory-card"
  [class.active]="model.label === 'directory two'"
  (click)="action.emit(actionEvent.SELECTED)"
>
  <div class="directory-card-icon">
    <pg-icon [svg]="model.icon"></pg-icon>
  </div>
  <div class="directory-card-details">
    <div
      class="directory-card-info"
      [matTooltip]="
        (model.label | localize).length > 20 ? model.label : ('' | localize)
      "
      matTooltipPosition="above"
    >
      <p class="directory-card-label">
        {{ model.label | localize | textLimit: 22 }}
      </p>
    </div>
    <div class="directory-card-buttons">
      <div class="directory-card-buttons-view">
        <pg-icon icon="bubble_chart"></pg-icon>
        <ng-container
          *ngTemplateOutlet="summaryHover; context: { item: true }"
        ></ng-container>
      </div>
      <div class="directory-card-buttons-edit"
      (click)="action.emit(actionEvent.EDIT)"
      >
        <pg-icon icon="edit"></pg-icon>
      </div>
    </div>
  </div>
</div>

<ng-template #summaryHover let-item="item"> </ng-template>
