<div class="sidebar" [class]="app_theme['theme']" [class.show]="show">
  <div class="sidebar-container">
    <pg-scroll-panel>
      <!-- delete from here -->
      <ul>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
        <li class="temp">
          <div class="test">
            <img src="https://miro.medium.com/max/1400/1*PWdG4Rs528yuQgIOY0b8-g.jpeg" />
          </div>
          <p class="h">Random Text Test</p>
          <div class="temp2 h">
            <p>✏</p>
            <p>❌</p>
          </div>
        </li>
      </ul>
      <!-- delete till here -->
    </pg-scroll-panel>
  </div>
</div>
