<div class="action-bar">
  <pg-button
    [style]="buttonStyle.PRIMARY"
    [circle]="true"
    class="action-bar-buttons-add"
    (focus)="setShowWheel($event)"
    >&#43;</pg-button
  >
  <pg-progress-bar-wrapper
    [mode]="progressBarMode"
    [error]="progressBarError"
  ></pg-progress-bar-wrapper>
  <div class="action-bar-buttons">
    <pg-button
      [style]="buttonStyle.SECONDARY"
      [disabled]="!!btnLeft?.disable"
      [class.hidden]="!btnLeft?.visible"
      class="action-bar-buttons-left"
      (click)="actionBarService.buttonClicked(buttonType.MAIN_LEFT)"
      [matTooltip]="btnLeft?.tooltip || '' | localize"
      matTooltipPosition="above"
      >{{ btnLeft?.label }}</pg-button
    >
    <pg-button
      [style]="buttonStyle.SECONDARY"
      [disabled]="!!btnRight?.disable"
      [class.hidden]="!btnRight?.visible"
      class="action-bar-buttons-right"
      (click)="actionBarService.buttonClicked(buttonType.MAIN_RIGHT)"
      [matTooltip]="btnRight?.tooltip || '' | localize"
      matTooltipPosition="above"
      >{{ btnRight?.label }}</pg-button
    >
  </div>
</div>
<div class="action-bar-wheel-container" [class.showWheel]="showWheel">
  <div class="action-bar-wheel">
    <ng-container
      *ngTemplateOutlet="
        wheelButton;
        context: { model: wheelBtn1, number: '1', type: buttonType.WHEEL_ONE }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        wheelButton;
        context: { model: wheelBtn2, number: '2', type: buttonType.WHEEL_TWO }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        wheelButton;
        context: { model: wheelBtn3, number: '3', type: buttonType.WHEEL_THREE }
      "
    ></ng-container>
  </div>
</div>

<ng-template
  #wheelButton
  let-btnModel="model"
  let-btnNumber="number"
  let-btnType="type"
>
  <div
    class="action-bar-wheel-button action-bar-wheel-button-{{ btnNumber }}"
    [class.enabled]="!btnModel?.disable"
    [class.hidden]="!btnModel?.visible"
  >
    <pg-button
      [style]="buttonStyle.LIGHT"
      [circle]="true"
      (click)="actionBarService.buttonClicked(btnType)"
      [disabled]="!!btnModel?.disable"
      [matTooltip]="btnModel?.tooltip || '' | localize"
      matTooltipPosition="above"
    >
      <pg-icon
        class="action-bar-wheel-button-icon"
        [icon]="btnModel?.icon || ''"
      ></pg-icon>
    </pg-button>
  </div>
</ng-template>
