@import "../../../Core/styles/variables.scss";
@import "../../../Core/styles/functions.scss";

.action-bar {
  z-index: 110;
  position: relative;
  height: 100%;

  .lightMode :host & {
    background-color: $white-3;
  }

  &-buttons {
    display: flex;
    height: calc(100% - 5px);
    justify-content: center;
    align-items: center;
    @include for-screen(gap, 60px, 10px);

    &-right,
    &-left {
      @include for-screen(width, 25%, 5%);
      @include for-screen(height, 40px, 5px);
      max-width: 300px;

      ::ng-deep {
        .pg-button {
          height: 100%;
          width: 100%;
          @include for-screen(border-radius, 20px, 5px);
        }
      }
    }

    &-add {
      position: absolute;
      right: 50%;
      transform: translate(50%, -50%);
      z-index: 150;

      ::ng-deep {
        .pg-button {
          display: flex;
          align-items: center;
          @include for-screen(font-size, 50px, 10px);
          @include for-screen(width, 50px, 10px);
          @include for-screen(height, 50px, 10px);

          &:hover, &:focus {
            transform: scale(1.1);
          }

          .lightMode :host &:hover {
            border-color: $blue-3;
          }
        }
      }
    }
  }

  &-wheel {
    position: relative;

    &-container {
      position: fixed;
      right: 50%;
      transform: translate(50%, -65%) scale(0);
      padding: 5px;
      border-radius: 50%;
      border: 2px solid;
      z-index: 100;
      transition: $transition-quick;

      @include for-screen(width, 270px, 50px);
      @include for-screen(height,270px, 50px);

      &.showWheel {
        transform: translate(50%, -65%) scale(1.1);
      }

      .lightMode :host & {
        -webkit-box-shadow: 0px 0px 50px -15px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 50px -15px rgba(0,0,0,1);
        box-shadow:  0px 0px 50px -15px rgba(0,0,0,1);
        background-color: $white-3;
        border-color: $grey-1;
      }
    }

    &-button {
      padding: 10px;
      position: absolute;

      &.enabled ::ng-deep .pg-button:hover {
            transform: scale(1.1);
      }

      &-1{
        left: 10%;
        @include for-screen(top, 40px, 15px);
      }

      &-2{
        right: 50%;
        transform: translateX(50%);

      }

      &-3 {
        right: 10%;
        @include for-screen(top, 40px, 15px);
      }

      &-icon {
        width: 100%;
        height: 100%;

        ::ng-deep .icon {
          @include for-screen(width, 20px, 10px);
          @include for-screen(height, 20px, 10px);
          @include for-screen(font-size, 25px, 5px);
        }
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
