@import "../../Core/styles/functions.scss";
@import "../../Core/styles/variables.scss";

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $white-3;
  @include for-screen(padding, 5px, 5);
  @include for-screen(height, 50px, 10);

  &-left {
    display: flex;
    gap: 10px;
    align-items: center;

    &-logo{
      &-img {
        @include for-screen(height, 30px, 10);
      }
    }

    &-button {
      display: none;
      @include mobile-only() {
        display: block;
      }

      &-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        justify-content: center;
        align-items: center;

        gap: 1.5px;
        border: 2px solid;
        padding: 3px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        width: 30px;
        height: 30px;

        .lightMode &{
          border-color: $black-1;
        }
      }

      &-dot{
        @for $i from 1 through 9 {
          &-#{$i} {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            transition: $transition-quick;

            .close & {
              opacity: 0;

              @if $i == 5 {
                position: absolute;
                opacity: 1;
                width: 14px;
                height: 3px;
                right: 0;
                bottom:50%;
                border-radius: 3px;
                transform: translate(-20% , 50%);
              }
              @if $i == 7 {
                opacity: 1;
                position: absolute;
                width: 11px;
                bottom: 20%;
                left: 0;
                height: 3px;
                border-radius: 3px;
                transform: translate(2.5px, -3.5px) rotate(40deg);
              }
              @if $i == 1 {
                opacity: 1;
                position: absolute;
                width: 11px;
                top: 20%;
                left: 0;
                height: 3px;
                border-radius: 3px;
                transform: translate(2.5px, 3.5px) rotate(-40deg);
              }
            }

            .lightMode &{
              background-color: $black-1;
            }
          }
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 10px;

    &-menu {
      padding: 3px;
      display: block;
      cursor: pointer;
      @include desktop-only() {
        display: none;
      }

      &-bar {
        @for $i from 1 through 3 {
          &-#{$i} {
            width: 30px;
            height: 3px;
            margin: 4px 0;
            border-radius: 3px;
            transition: $transition-quick;
            .lightMode &{
              background-color: $black-1;
            }
          }
        }
      }

      &.close {
        .nav-right-menu-bar-2 {
            visibility: hidden;
            opacity: 0;
        }
        .nav-right-menu-bar-1 {
          transform: rotateZ(45deg) translate(6px, 5px);
        }
        .nav-right-menu-bar-3 {
          transform: rotateZ(-45deg) translate(5px, -4px);
        }

      }
    }

    &-refresh {
      animation: rotating 1.5s linear infinite;
      @include for-screen(width, 25px, 10);
      @include for-screen(height, 25px, 10);
      ::ng-deep .material-icons {
        @include for-screen(font-size, 25px, 10);
        display: block;
        height: unset;
        width: unset;
      }
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(300deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
