<nav class="nav" [class]="app_theme['theme']">
  <div class="nav-left">
    <div class="nav-left-button" *ngIf="authService.isLoggedIn">
      <div
        class="nav-left-button-container"
        [class.close]="showSideBar"
        (click)="headerService.toggleSideBar()"
      >
        <div class="nav-left-button-dot-1"></div>
        <div class="nav-left-button-dot-2"></div>
        <div class="nav-left-button-dot-3"></div>
        <div class="nav-left-button-dot-4"></div>
        <div class="nav-left-button-dot-5"></div>
        <div class="nav-left-button-dot-6"></div>
        <div class="nav-left-button-dot-7"></div>
        <div class="nav-left-button-dot-8"></div>
        <div class="nav-left-button-dot-9"></div>
      </div>
    </div>
    <div class="nav-left-logo">
      <img
        class="nav-left-logo-img"
        src="piggy-bank.svg"
        alt="Piggy Bank Logo"
      />
    </div>
  </div>
  <div class="nav-right">
    <div
      class="nav-right-menu"
      [class.close]="showMenu"
      (click)="headerService.toggleMenu()"
      *ngIf="authService.isLoggedIn"
      [matTooltip]="(showMenu ? 'nav-menu-close' : 'nav-menu') | localize"
      matTooltipTouchGestures="off"
    >
      <div class="nav-right-menu-bar-1"></div>
      <div class="nav-right-menu-bar-2"></div>
      <div class="nav-right-menu-bar-3"></div>
    </div>
  </div>
</nav>
<!-- initializing icon -->
<pg-icon></pg-icon>
