<div class="sign-up">
  <div class="sign-up-header">
    <p class="sign-up-title">{{'signup.title' | localize}}</p>
    <p class="sign-up-subtitle">{{'signup.subtitle' | localize}}</p>
  </div>
  <form class="sign-up-form" onSubmit="{this.handleSubmit}">
    <pg-label-input
      type="text"
      name="name"
      [required]="true"
      label="common.name"
      [(ngModel)]="name"
      (isValid)="isValid.name = $event"
      [validate]="textLengthValidator"
    ></pg-label-input>
    <pg-label-input
      type="email"
      name="email"
      [required]="true"
      label="common.email"
      [(ngModel)]="email"
      (isValid)="isValid.email = $event"
      [validate]="emailValidator"
    ></pg-label-input>
    <pg-label-input
      type="password"
      name="password"
      [required]="true"
      label="common.password"
      [(ngModel)]="password"
      (isValid)="isValid.password = $event"
      [validate]="passwordValidator"
    ></pg-label-input>
    <pg-label-input
      type="password"
      name="confirmPassword"
      [required]="true"
      label="common.confirmPassword"
      [(ngModel)]="confirmPassword"
      [validateArgs]="[password]"
      (isValid)="isValid.confirmPassword = $event"
      [validate]="confirmPasswordValidator"
    ></pg-label-input>
    <div class="sign-up-btn">
      <pg-button
        type="submit"
        [label]="'signup' | localize | uppercase"
        [style]="buttonStyle"
        [shadow]="true"
        [disabled]="!isValid.email || !isValid.password || !isValid.confirmPassword || !isValid.name"
      ></pg-button>
    </div>
  </form>
</div>
