@import "../../Core/styles/variables.scss";
@import "../../Core/styles/functions.scss";

.sign-up {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 0 15px;
  @include tablet-plus {
    max-width: $mobile-width + 100px;
  }

  &-title {
    margin: 10px 0;
    font-family: $family1;
    font-size: 24px;
  }

  &-subtitle {
    font-size: 16px;
    font-family: $family2;
  }
}
