<div class="sign-up">
  <div class="sign-up-header">
    <p class="sign-up-title">Don't have an account?</p>
    <p class="sign-up-subtitle">Sign up with your email now.</p>
  </div>
  <form class="sign-up-form" onSubmit="{this.handleSubmit}">
    <pg-label-input
      type="text"
      name="name"
      [required]="true"
      label="Display Name"
    ></pg-label-input>
    <pg-label-input
      type="email"
      name="email"
      [required]="true"
      label="Email"
    ></pg-label-input>
    <pg-label-input
      type="password"
      name="password"
      [required]="true"
      label="Password"
    ></pg-label-input>
    <pg-label-input
      type="password"
      name="confirmPassword"
      [required]="true"
      label="Confirm Password"
    ></pg-label-input>
    <div class="sign-up-btn">
      <pg-button
        type="submit"
        label="SIGN UP"
        [style]="buttonStyle"
      ></pg-button>
    </div>
  </form>
</div>
