<div class="menu-overlay" [class]="app_theme['theme']" [class.show]="show" (click)="headerService.showMenu(false)">
  <div class="menu-container" (click)="$event.stopPropagation()">
    <div class="menu">
      <!-- delete from here -->
      <ul>
        <li>menu item 1</li>
        <li>menu item 2</li>
        <li>menu item 3</li>
        <li>menu item 4</li>
        <li>menu item 5</li>
        <li>menu item 6</li>
      </ul>
      <!-- delete till here -->
      <pg-button (click)="authService.signOut()" *ngIf="authService.isLoggedIn" [matTooltip]="'signout' | localize" matTooltipPosition="above">
        {{ 'signout' | localize}}
      </pg-button>
    </div>
  </div>
</div>
