<div class="menu-overlay" [class]="app_theme['theme']" [class.show]="show" (click)="headerService.showMenu(false)">
  <div class="menu-container" (click)="$event.stopPropagation()">
    <div class="menu">
      <!-- delete from here -->
      <ul>
        <br><br>
        <li><a routerLink="/">Piggy Bank</a></li>
        <li><a routerLink="/disclaimer/cookies_policy">Cookies Policy</a></li>
        <li><a routerLink="/disclaimer/privacy_policy">Privacy Policy</a></li>
        <li><a routerLink="/disclaimer/terms_conditions">Terms and Conditions</a></li>
        <br><br><br>
      </ul>
      <!-- delete till here -->
      <pg-button (click)="authService.signOut()" *ngIf="authService.isLoggedIn" [matTooltip]="'signout' | localize" matTooltipPosition="above">
        {{ 'signout' | localize}}
      </pg-button>
    </div>
  </div>
</div>
