@import "../../../Core/styles/variables.scss";
@import "../../../Core/styles/functions.scss";

.menu {
  @include for-screen(padding, 32px, 10);
  @include for-screen(margin-top, 32px, 10);
  @include for-screen(margin-bottom, 32px, 10);
  @include for-screen(line-height, 25px, 5);

  &-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    transition: $transition-fast;
    opacity: 0;
    visibility: hidden;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    &.lightMode {
      background-color: $grey-2-light;
    }
  }

  &-container {
    opacity: 1;
    height: 100%;
    width: 50%;
    max-width: 400px;
    float: right;
    transition: $transition-fast;
    transform: translateX(100%);
    position: relative;

    .show & {
      transform: translateX(0);
    }

    .lightMode & {
      background-color: $white-2;
    }
  }

  &-logo {
    position: absolute;
    color: $blue-3;
    left: 30px;
    top: 25px;
    @include for-screen(font-size, 18px, 4);
  }

  &-options {
    @include for-screen(font-size, 14px, 3);

    &-link {
      transition: $transition-quick;
      a {
        color: $link;
      }

      &:hover{
        padding-left: 10px;
        a {
          color: $link-hover;
        }

      }
    }

    &-disclaimer {
      padding-left: 15px;
    }
  }

  &-signout-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    max-width: 50%;
    margin: 0 auto;
  }
}
