<div class="sign-in-up">
  <div class="sign-in-up-container">
    <div class="sign-in-up-tabs">
      <span class="sign-in-up-tab" routerLinkActive="current-tab"><a routerLink="signup">{{ 'signup' | localize}}</a></span>
      <span class="sign-in-up-tab" routerLinkActive="current-tab"><a routerLink="signin">{{ 'signin' | localize}}</a></span>
    </div>
    <div class="sign-in-up-component" [@slideAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
