@import "../../../Core/styles/variables.scss";
@import "../../../Core/styles/functions.scss";

.lightMode {
  background-color: $white-1;
}

.budget {
  height: calc(100vh - 50px);
  @include tablet-plus(){
    height: calc(100vh - 60px);
  }
  @include desktop-only(){
    height: calc(100vh - 70px);
  }
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &-body {
    display: flex;
    flex-direction: row;
    height: calc(100% - 70px);
    @include tablet-plus(){
      height: calc(100% - 75px);
    }
    @include desktop-only(){
      height: calc(100% - 80px);
    }
  }

  &-layout {
    width: 100%;
    height: 100%;
  }

  &-action-bar {
    height: 100%;
    @include for-screen(height, 70px, 5px);
  }
}
