@import "../../Core/styles/functions.scss";

.disclaimer {
  height: calc(100vh - 50px);
  @include tablet-plus(){
    height: calc(100vh - 60px);
  }
  @include desktop-only(){
    height: calc(100vh - 70px);
  }
  max-width: $max-width;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: column;

  &-content {
    padding: 20px 30px;
  }
}
