<div class="sign-in">
  <div class="sign-in-header">
    <p class="sign-in-title">{{ "signin.title" | localize }}</p>
  </div>
  <form class="sign-in-form" onSubmit="{this.handleSubmit}">
    <pg-label-input
      [(ngModel)]="email"
      type="email"
      name="email"
      [required]="true"
      label="common.email"
      (isValid)="isValid.email = $event"
      [validate]="emailValidator"
    ></pg-label-input>
    <pg-label-input
      [(ngModel)]="password"
      type="password"
      name="password"
      [required]="true"
      label="common.password"
      (isValid)="isValid.password = $event"
    ></pg-label-input>
    <div class="sign-in-btns">
      <pg-button
        type="submit"
        [label]="'signin' | localize | uppercase"
        [style]="buttonStyle.PRIMARY"
        [shadow]="true"
        [disabled]="!isValid.email || !isValid.password"
        class="sign-in-btn"
        (click)="signIn()"
      ></pg-button>
      <div class="sign-in-gap">
        <hr class="sign-in-gap-line" />
        <span class="sign-in-gap-or">{{ "common.or" | localize }}</span>
        <hr class="sign-in-gap-line" />
      </div>
      <div class="sign-in-third-party">
        <pg-button
          type="submit"
          [style]="buttonStyle.ICON"
          [shadow]="true"
          (click)="authService.signInWith(signInMethods.GOOGLE)"
        >
          <div class="background"></div>
          <pg-icon svg="google" [size]="largeIcon"></pg-icon>
          <span>{{ "signin.google" | localize }}</span>
        </pg-button>
        <pg-button
          type="submit"
          [style]="buttonStyle.ICON"
          [shadow]="true"
          (click)="authService.signInWith(signInMethods.FACEBOOK)"
        >
          <div class="background"></div>
          <pg-icon svg="facebook" [size]="largeIcon"></pg-icon>
          <span>{{ "signin.facebook" | localize }}</span>
        </pg-button>
      </div>
      <div class="sign-in-disclaimer">
        {{ 'sign.disclaimer' | localize }}
        <a [routerLink]="routes.terms_route">{{ 'menu.terms' | localize }}</a>,
        <a [routerLink]="routes.privacy_route">{{ 'menu.privacy' | localize }}</a>
        , {{ 'common.and' | localize }}
        <a [routerLink]="routes.cookies_route">{{ 'menu.cookies' | localize }}</a>.
      </div>
    </div>
  </form>
</div>
